    // Colors
    $primary-1:  black;
    $primary-2: white;
    $alternative-1: #20c997;
    $alternative-2: rgba(248,249,250); 
    $alternative-3: #dee2e6;
    $text-color: #2B2B2B;
    $shadow:#0000001c;
    $hover-botones:aqua;
    $footer: rgb(61, 59, 59);
    $instagram: #ce1312;
	$facebook: #2956a3;
	$linkedin: #0076b8;


    // Font size
    $text-large: 3rem;
    $text-medium: 2.5rem;
    $text-small: 2rem;
    $text-xsmall: 1.8rem;
    $text-xxsmall: 1rem;
    $text-xxxsm: 0.5rem;

    // Spacing
    $spacing-xxlarge: 10rem;
    $spacing-xlarge: 8rem;
    $spacing-large-2:7rem;
    $spacing-large: 6rem;
    $spacing-medium: 3.5rem;
    $spacing-small: 2rem;
    $spacing-xsmall: 1rem;